<style>
        body {
                overflow:hidden;
        }
        *, *:before, *:after {
		box-sizing: border-box;
        }
</style>

<div class="form-holder">
	<%= form_for :image do |f| %>
	  <%= f.file_field :filename, :class=>"inputfile", accept: "image/*" %>
		<%= label_tag "image[filename]" do %>
			<span>Choose an image...</span>
		<% end %>
        <ul id="error-messages">
            <% flash.each do |name, msg| %>
                <li> <%= msg %></li>
            <% end %>
        </ul> 
		<div style="height:300px; width:100%"></div>
	  <%= f.submit "Create", class: "send_button" %>
	<% end %>
</div>

<div id="field"></div>

<%= javascript_include_tag "starfield" %>
<script>
	//starfield vars
	var starfield = new Starfield();
	var container = document.getElementById('field');
	//creates starfield
	starfield.stars = 300;
	starfield.minVelocity = 0;
	starfield.maxVelocity = 0;
	starfield.width = window.innerWidth;
	starfield.height = window.innerHeight;
	starfield.initialise(container);
	starfield.start();


	var input = document.getElementById("image_filename");
	var label = input.nextElementSibling;
	var labelVal = label.innerHTML;
	
	input.addEventListener( 'change', function( e ) {
		var fileName = '';
		if( this.files && this.files.length > 1 ) {
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		} else {
			fileName = e.target.value.split( '\\' ).pop();
		}
		if( fileName ) {
			label.querySelector( 'span' ).innerHTML = fileName;
		} else {
			label.innerHTML = labelVal;
		}
	});






  // Firefox bug fix
	input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
	input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
</script>
